<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c{1} - %msg%n"/>
        </Console>
        <Console name="ConsoleJSONAppender" target="SYSTEM_OUT">
            <JsonLayout complete="false" compact="false">
                <KeyValuePair key="application" value="applicationName"/>
                <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd HH:mm:ss.SSS}"/>
                <KeyValuePair key="package" value="$${ctx:package}"/>
                <KeyValuePair key="className" value="$${ctx:className}"/>
                <KeyValuePair key="myCustomField" value="myCustomValue"/>
                <KeyValuePair key="additionalField1" value="$${ctx:key1}"/>
                <KeyValuePair key="additionalField2" value="$${ctx:key2}"/>
                <KeyValuePair key="action" value="$${ctx:action}"/>
                <KeyValuePair key="userid" value="$${ctx:userid}"/>
            </JsonLayout>
        </Console>
        <!--
        <Socket name="Socket" host="change.this" port="5000">
            <JsonLayout compact="true" eventEol="true">
                <KeyValuePair key="application" value="applicationName"/>
                <KeyValuePair key="tgroup" value="$${ctx:group}"/>
                <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSZ}"/>
            </JsonLayout>
        </Socket>
        -->
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="console"/>
            <!-- <AppenderRef ref="Socket"/> -->
            <!-- <AppenderRef ref="ConsoleJSONAppender"/> -->
        </Root>
        <Logger name="JSON_EVENT_LOGGER" additivity="false">
            <AppenderRef ref="ConsoleJSONAppender"/>
        </Logger>
    </Loggers>
</Configuration>
